body{
    background-color: lightgray;
    box-sizing: border-box;
}

header{
    background-color: white;
}

h1{
    font-family: arial;
    font-weight: bold;
    color: black;
    display: inline-block;
    
}
